<%= form_with  url: books_rentabookrented_path, :method => :post, data: {turbo: false}  do |form| %>

    <h3  style="color:#0965e6;position:absolute;">Choose a book</h3>
    <h3  style="color:#0965e6;position:absolute;width:40%;left: 60%;">Choose a User</h3>
        <div class="form-group" style="width: 100%;position:relative;top: 50px;">
            <div  style="color:#0965e6;position:absolute;width:40%;"><%= form.collection_radio_buttons :book_id, @scop1, :id, :title %></div>
           
        </div></br>
       </br> 
    <div class="form-group"  style="color:#0965e6;position:relative;width:40%;left: 50%;">
            <%= form.collection_radio_buttons :user_id, @scop2, :id, :email %>
           
        </div></br>

<br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="actions">
  
    <%= form.submit  value="Rent",class: "btn btn-primary"%>&nbsp&nbsp&nbsp&nbsp
   
    <%= link_to "Back", books_path, class: "btn btn-primary" %>
  </div>
<% end %>
<br />